<mat-drawer-container class="h-full w-full" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'">
    <button
      class="p-4 text-bold flex justify-center items-center gap-2"
      href="/"
      (click)="goHome()"
    >
      <mat-icon>home</mat-icon><span>Home</span>
    </button>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <button class="w-full p-4 list-button" (click)="goToVocabulary()">
          Vocabulary
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button class="w-full p-4 list-button" (click)="goToGrammar()">
          Grammar
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button class="w-full p-4 list-button" (click)="goToSentences()">
          Sentences
        </button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button class="w-full p-4 list-button" (click)="goToTyping()">
          Typing
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="w-full h-[10%] bg-slate-500 grid grid-cols-2">
      <div>
        <button class="p-2 ml-4 h-full bg-slate-500" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="text-4xl">한국어</span>
      </div>
      <div class="text-end pr-2 items-center">
        <button class="p-2 ml-4 h-full bg-slate-500">
          <a
            class="flex h-[100%] items-center"
            href="https://github.com/elvin-mark/korean-learning-app"
          >
            <mat-icon>code</mat-icon>
          </a>
        </button>
      </div>
    </div>
    <div>
      <router-outlet />
    </div>
  </mat-drawer-content>
</mat-drawer-container>
